{% extends "base1.html" %}
{% block title %}Change Password{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row">
        <h3>Welcome Nandini</h3>
        <div class="col-md-4 border-end">
                <ul class="list-unstyled">
                    <li><a href="{% url 'changepass' %}"class="btn btn-primary">Change Password</a></li>
                </ul>
        </div>

        <div class="col-md-4">
            <h3>Change Password</h3>
            <hr>
            <form action="" method="post">
                {% csrf_token %}
                {% for fm in form %}
                <div class="form-group">
                    {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors}}</small>
                </div>
                {% endfor %}
                <input type="submit" class="btn btn-primary "value="save">
            </form>
        </div>

    </div>
</div>
{% endblock main-content %}