{% extends "base1.html" %}
{% load static %}
{% block title %} Password Reset Complete{% endblock title %}
{% block main-content %}
<div class="container"style="min-height:360px;">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h4 style="margin-top:100px;font-weight:bold;font-size:20px;">Password Reset Completed</h4>
            <a href="/login" class="btn " style="width:100px;background-color:#ff84c1">Login</a>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock main-content %}