{% extends "base1.html" %}
{% load static %}
{% block title %} Password Reset Done{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 "style="min-height:210px;margin-top:120px;">
            <h3 class="alert-heading"style="font-weight:bold">Password reset sent</h3>
            <p>We have sent an email to reset your password</p>

            <b>Check your email</b>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock main-content %}