{% extends 'base.html' %}
{% block content %}
<div class="row" style="margin-top:100px;">
<div class="col-md-4"></div>
   <div class="col-md-4">
     <div class="global-container">
	 <div class="card login-form">
	  <div class="card-body">
		<h3 class="card-title text-center ">Hurray your email is verified</h3>
          <div class="card-text">
              Please check your mail....
          </div>
           <a class="btn btn-primary" href="/login">Login</a>
	  </div>
      </div>
   </div>
</div>
<div class="col-md-4"></div>
</div>

{% endblock content %}