{% extends 'base1.html' %}
{% block content %}
<div class="row" style="margin-top:100px;margin-bottom:220px;">
<div class="col-md-4"></div>
   <div class="col-md-4">
     <div class="global-container">
	 <div class="card login-form">
	  <div class="card-body">
		<h3 class="card-title text-center ">We have sent an email to you</h3>
          <div class="card-text">
              Please check your mail....
          </div>
	  </div>
      </div>
   </div>
</div>
<div class="col-md-4"></div>
</div>

{% endblock content %}