.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}










/* for ring hover */
.imo{
transition:0.2s;
}

.imo:hover{
transform:scale(.9);
}
.imo p{
margin-right:60px;
color:purple;
font-size:20px;
float-nright:70px
}


/* for image hover  */
.carousel-cell img{
width:190px;
height:200px;
margin:20px;
}
.carousel-cell{
transition:0.5s;
}
.carousel-cell:hover{
transform:scale(1.1);
}
.title{
margin-left:110px;
font-weight:bold;
}
price{
margin-left:120px;
}


/*  deal of the section */
.live h1{
font-size:70px;font-weight:bold;
background:linear-gradient(180deg,#f80112 0%,#2602f5 110%);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;font-family:bday;
}
.single img{
height:200px;
width:300px;
}
.wrapper{
position:relative;
	width:px;
	margin:px auto;
	perspective:px;margin-top:-20px;
	margin-bottom:200px;
}
.img-area{
position:absolute;
	width:100%;
	height:100%;
	transform-style:preserve-3d;
	transform:rotatev(-360deg)translateZ(-300px);
	animation:animate 25s steps(1000,end) infinite;
}
.single{
position:absolute;
	width:200px;
	height:200px;
	top:10px;
	left:10px;
}
.single.img-1{
transform:rotateY(0deg) translateZ(300px);
}
.single.img-2{
	transform:rotateY(60deg) translateZ(300px);
}
.single.img-3{
	transform:rotateY(60deg) translateZ(300px);
}
.single.img-4{
	transform:rotateY(120deg) translateZ(300px);
}
.single.img-5{
	transform:rotateY(180deg) translateZ(300px);
}
.single.img-6{
	transform:rotateY(240deg) translateZ(300px);
}
.single.img-7{
	transform:rotateY(300deg) translateZ(300px);
}
.single.img-8{
	transform:rotateY(300deg) translateZ(300px);
}
@keyframes animate{
	from{
		transform:rotateY(-360deg);
	}
	to{
		transform:rotateY(0deg);
	}
}















